<html>
	<head>
	    <title>Node Authentication</title>
	    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> load bootstrap css -->
	    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/superhero/bootstrap.min.css">
	    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

		<script type="text/javascript" src="/bower_components/platform/platform.js"></script>
		<!--<link rel="import" href="/game/elements/chat_box-p.html">-->
		<!--<script type="text/javascript" src="http://54.201.46.195:8080/socket.io/socket.io.js"></script> -->
		<script type="text/javascript" src="/node_modules/socket.io/node_modules/socket.io-client/socket.io.js"></script>
	    <script type="text/javascript" src="/game/roles/Role.js"></script>
	    <script type="text/javascript" src="/game/roles/Sheriff.js"></script>
	    <script type="text/javascript" src="/game/session/setup.js"></script>
	    <style>
	        body        { padding-top:80px; word-wrap:break-word; }
	    </style>
	</head>
	<body>
		<div>My game</div>
		<!--<div><chat_box-p></chat_box-p></div>-->
	</body>
</html>